header{
    height: 100px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;

    .wrapper{
        display: flex;
        justify-content: space-between;
        gap: 36px;
        height: 100%;
        width: 100%;
        max-width: 1800px;
        margin: auto;
        padding: 0 36px;

        .wrapper-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
                max-height: 90%;
                width: auto;
            }
        }
        .hamburger{
            display: flex;
            flex-direction: column;
            gap: 7px;
            width: 35px;
            cursor: pointer;
            justify-content: center;
            background: none;
            border: none;

            .stick{
                border: 2px solid black;
                height: 2px;
                width: 100%;
                border-radius: 10px;
            }
        }
        nav{
            position: absolute;
            height: 100%;
            width: 50%;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin: 0 -36px;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 36px;

            a{
                font-size: 23px;
                font-weight: 600;
                text-decoration: none;
                color: black;
            }
        }

        @media screen and (min-width: 768px) {
            .hamburger{
                display: none;
            }
            nav{
                display: flex;
                justify-content: flex-end;
                gap: 36px;
                align-items: center;

                a{
                    text-decoration: none;
                    color: inherit;
                    font-weight: 500;
                    font-size: 21px;
                    font-family: Arial, Helvetica, sans-serif;
                    transition: ease .5s all;
                }

                a:hover{
                    color: red;
                    transform: scale(1.15);
                }
            }
        }
        
    }
}